.App-dark{
  background:  #202124;
}

.dark{
  background: #202124;
}



.white{
  background:white;
}

.App{
  margin: 0;
  padding: 0;
}

.header{
  height:55px;
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  margin-top: 0%;
}

.header-dark{
  display: flex;
  flex-direction: row;
  height:55px;
  margin-left: 3%;
  margin-top: 0%;
  color:white;
  
}

.head{
  font-weight: 450;
  font-size: 24px;
  margin-top: 7px;
  padding-left: 10px;
  color: rgb(114, 112, 112);
}

.darker{
  color: white;
}

.logo{
  width: 5%;
  height: 60px;
}

.mode{
  position: absolute;
  top:2%;
  right:1%
}

.head-hr{
  margin-top: 1%;
  margin-bottom: 0;
  padding: 0;
}

.head-hr-dark{
  margin-bottom: 0;
  color: white;
  margin-top: 1%;
  padding: 0;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .header{
    display: flex;
    flex-direction: column;
  }
  }


/*Search Box*/
.search-box{
  position: absolute;;
  top:2%;
  left:18%;
  width: 55%;
  display: flex;
  flex-direction: row;
  height: 42px;
  border-radius: 10px;
  margin-right: 0;
  border: none;
  outline: none;
  box-shadow: 0 0px 7px rgb(128, 128, 128);
  
}

.search-btn{
  width:3%;
  padding-top:5px;
  padding-left:2%;
  margin-left: 0;
  outline: none;
  border-radius: 10px;
  border: none;
  margin-right: 2%;
  color: #7c7c7c;
  background-color: white;
}

.search-bar{
  width:40%;
  height: 30px;
  padding-top: 10px;
  
  border: none;
  outline: none;
}

.search-cross{
  position: relative;
  left:50%;
  outline: none;
  border: none;
  background-color: white;
}

.search-cross-dark{
  position: relative;
  left:50%;
  outline: none;
  border: none;
  background-color: #202124;
  color:white;
}

.dark{
  background-color:  #202124;
  box-shadow: #ffffff;
  color:white;
}

.search-bar-dark{
  width:40%;
  height: 30px;
  padding-top: 10px;
  background-color:  #202124;
  color:white;
  border: none;
  outline: none;
}

.reg-btn:hover{
  background-color: #b3b2b5;
}

.reg-box{
  position: fixed;
  background: #00000050;
  width: 100%;
  margin-top: 0;
  height: 100vh;
  top: 0%;
  left: 0;
}

.reg-box2 {
  position: relative;
  width: 45%;
  margin: 0 auto;
  min-height: 200px;
  top:10%;
  font-size: 1.2em;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}


.create-form{
  position: relative;
  width: 50%;
  margin: 32px auto 50px auto;
  background: #fff;
  padding: 7px;
  border-radius: 7px;
  outline: none;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}

form input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 1rem;
  resize: none;
}
form textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1rem;
  resize: none;
}

.bottom{
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .bottom{
    display: flex;
    flex-direction: column;
  }
  .image{
    width:100%;
    background-color: #eebb14;
  }
}

.col{
  width:6%;
  height: 30px;
  border-radius: 100px;
  margin: 1%;
  margin-bottom: 10px;
  margin-top: 0;
  outline: black;
}

.colors{
  width: 100vw;
}





.image{
  width:90%;
  border-radius: 25px;
  height: 70%;
  background-color: #eebb14;
}

.image:hover{
  background-color: #d1a000;
}

.up-icon{
  font-size: 24px;
  padding: 0;
  position: relative;
  left:2px;
}

.col-1{
  background-color: rgb(204, 248, 233);
  outline: 5px black;
}

.col-2{
  background-color: rgb(246, 226, 248);
}

.col-3{
  background-color: rgb(240, 226, 150);
}

.col-4{
  background-color: rgb(247, 184, 182);
}

.col-5{
  background-color: rgb(185, 245, 170)
}

.col-6{
  background-color: white;
}

.btnss{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  background: rgb(255, 200, 18);
  color: #fff;
  border: none;
  width: 20%;
  height: 40%;
  margin-bottom: 2%;
  box-shadow: 0 1px 3px rgb(165, 165, 165);
  cursor: pointer;
  outline: none;
}

btnss{
  display: flex;
  flex-direction: column;
}


.btns:hover{
  background-color: rgb(226, 174, 4);
  transform: scale(1.05);
  color: white;
}

.pin-btn{
  position: relative;
  background: rgb(255, 200, 18);
  color: #fff;
  border: none;
  width: 150px;
  height: 36px;
  box-shadow: 0 1px 3px rgb(165, 165, 165);
  cursor: pointer;
  outline: none;
}




/*Notes*/

.note {
  background: #ffffff;
  width: 270px;
  border-radius: 7px;
  height:270px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 10px;
  margin-left: 45px;
  margin-bottom: 40px;
  float: left;
}

.note-btns{
  position: relative;
  
}


.note:hover{
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;

}

.note-pin {
  background: #ffffff;
  width: 300px;
  border-radius: 7px;
  height:270px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 10px;
  margin: 16px;
  display: block;
  margin-right: 0;
}

.pinned{
  background-color: #eebb14;
}

.pin{
  font-size: 24px;
}

.high-text{
  color:#eebb14;
}

.note-high{
  background: #eebb14;
  width: 240px;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 10px;
  margin: 16px;
  float: left;
  margin-right: 0;
}

.note h1 {
  font-size: 1rem;
  margin-bottom: 6px;
}

.note p {
  font-size: 1rem;
  color: #6f212b;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-button {
  position: relative;
  float: right;
  color: #493b5a;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  margin-top: 0;
  height: 100vh;
  top: 0%;
  left: 0;
}

.box {
  position: relative;
  width: 45%;
  margin: 0 auto;
  min-height: 800px;
  top:10%;
  font-size: 1.2em;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.box-pop {
  position: absolute;
  width: 45%;
  margin: 0 auto;
  min-height: 350px;
  top:6%;
  left:30%;
  font-size: 1.2em;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #999;
}

.box-pop-img {
  position: relative;
  width: 45%;
  margin: 0 auto;
  min-height: 200px;
  top:40%;
  left:30%;
  font-size: 1.2em;
  margin-top: calc(110vh - 85vh - 20px);
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #999;
}

.pop-img{
  position: absolute;
  top:2%;
  left:27%;
  width:50%;
  height:50%
}




.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.pop-close{
  cursor: pointer;
  position: fixed;
  right: 26%;
  top: 80%;
  border: none;
  outline: none;
  background-color: #eebb14;
  font-size: 18px;
}

.pop-down{
  cursor: pointer;
  position: fixed;
  right: 32%;
  top: 54%;
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
}

.show{
  display: block;
}
.hide{
  display: none;
}

.edit-form{

  position: relative;
  width: 45%;
  margin: 0 auto;
  min-height: 200px;
  top:10%;
  font-size: 1.2em;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}



.edit-close{
  cursor: pointer;
  position: fixed;
  right: 26%;
  top: 54%;
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
}

.note-img{
  width:100%;
  height: 100%;
}

/*Download*/


.popup-box-down{
  position: relative;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0;
}

.box-pop-down {
  position: relative;
  width: 45%;
  margin: 0 auto;
  min-height: 200px;
  top:10%;
  left:3%;
  font-size: 1.2em;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.pdf-btn{
  cursor: pointer;
  position: fixed;
  right: 35%;
  background-color: #eebb14;
  top: 65%;
  border: none;
  outline: none;
  font-size: 18px;
}

.pdf{
  padding:2%;
  margin:2%;

}

.pdf-img{
  width: 70%;
  height: 70%;
}

.pop-close-down{
  cursor: pointer;
  position: fixed;
  right: 26%;
  top: 65%;
  border: none;
  outline: none;
  background-color: #eebb14;
  font-size: 18px;
}


/*Login */


.log-cont{
  background: url('../src/images/p2.webp') center;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-wrapper{
  width: 600px;
  height: 350px;
  padding: 50px;
  background-color: rgb(136, 136, 136);

}

.log-title{
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}

.log-text{
  text-align: center;
  align-items: center;
  position: relative;
  left:30%;
  justify-content: center;
  outline: none;
  border: none;
  background-color:rgb(136, 136, 136); ;
  font-size: 18px;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.log-text:hover{
  transform: scale(1.05);
}

form.log{
  display: flex;
    flex-direction: column;
}

input.log{
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
  border:2px solid rgb(90, 88, 88);
  font-size: 1rem;
}

.log-btn{
    border: none;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(70, 82, 248);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logout-btn{
  border: none;
  font-size: 20px;
  position: absolute;
  right:1%;
  width: 10%;
  padding: 7px;
  border-radius: 10px;
  background-color: rgb(70, 82, 248);
  color: white;
  cursor: pointer;
}

.log-btn:hover{
  background-color: rgb(40, 18, 238);
  color:white;
  transform: scale(1.03);
}

a.log{
  margin: 5px 0;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}



.reg-cont{
  background: url('../src/images/p2.webp') center;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-wrapper{
  width: 600px;
  height: 400px;
  padding: 30px;
  background-color: rgb(136, 136, 136);

}


.reg-btn{
  width:40%;
  border: none;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(70, 82, 248);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

.reg-btn:hover{
  background-color: rgb(40, 18, 238);
  color:white;
  transform: scale(1.03);
}

.foot{
  position: fixed;
    height: 80px;
    bottom: 0;
    width: 100%;
  background-color: #6f72ff;
  color: #ffffff;
}

